<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/litera.min.css') }}"> 
    {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <div class="navbar navbar-light bg-light static-top">
            <a href="index">Home</a>
            <a href="upload">Upload Documents</a>
            <a href="view">View Documents</a>
            <a href="profile">Profile</a>
            <a href="http://localhost:5000/logout">Logout</a>
        </div>
    {% endblock %}

    <div id="content">
        {% block content %}
            <h1>Welcome, {{value[0][1]}}</h1>
            <br>
            <h2>Files:</h2>
            <ul>
            {% for row in value %}
            
                <li>{{ row[2] }}</li>
            
            {% endfor %}
        </ul>
        {% endblock %}
    </div><!--end content-->
</body>
</html>